@import "{{ site.theme }}";
footer {
    display: none;
    background-color: white;
    color: white;
}

small {
    display: none;
    background-color: white;
    color: white;
}

header, section, footer {
    display: none;
    background-color: white;
    color: white;
  }
