@import "{{ site.theme }}";

footer {
    display: none;
    background-color: white;
    color: white;
}

small {
    display: none;
    background-color: white;
    color: white;
    font-size: 3px;
}

header, section, footer {
    display: none;
    background-color: white;
    color: white;
  }
